<style type="text/css">

body {
	margin: 0;
	background-image: url("https://i.ytimg.com/vi/ifVEMkQ9BaY/maxresdefault.jpg");
}

#topbar {
	/*background-color: #7B0000;*/
	background-image: url("http://i1.wp.com/www.genesis-umc.org/web/wp-content/uploads/2015/01/Movie-Night-Website-Banner.jpg?resize=950%2C250");
  background-repeat: no-repeat;
  background-size: 1000px 115px;
  height:120px;
  width:100%;
  color:white;
}

.fixedwidth {
  margin: 0 auto;
  width:1050px;
}

#button {
	float:left;
	padding: 140px 0 0 350px
}

#botao input {
	background-image: url("http://i.stack.imgur.com/e8nZC.gif");
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: right;
	border: none;
	height: 35px;
	width:275px;
	padding-left:14px;
	color:red;
	text-align: center
}

#botao2 {
	position:relative;
	top:-20px;
}

#popcorn img {
	float:left;
	padding: 0 0 0 15px;
	height:115px;
	width:auto;
}

#newsheader {
	position:relative;
	left:59px;
	top:30px;
	font-size: 2.7em;
	font-weight: bold;
	text-shadow: 8px 8px black;
}

#newsheader:hover {
	color:red;
}

#moviesearch {
	color:white;
	padding-left: 85px;

}

.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #ff1100));
	background:-moz-linear-gradient(top, #c62d1f 5%, #ff1100 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #ff1100 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #ff1100 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #ff1100 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #ff1100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#ff1100',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:6px 39px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff1100), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #ff1100 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #ff1100 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #ff1100 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #ff1100 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #ff1100 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1100', endColorstr='#c62d1f',GradientType=0);
	background-color:#ff1100;
}
.myButton:active {
	position:relative;
	top:1px;
}

.pure2 {
	-moz-box-shadow: 0px 0px 30px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 30px 2px #9fb4f2;
	box-shadow: 0px 0px 30px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 0px 0px #283966;
}

.pure2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}

.pure2:active {
	position:relative;
	top:1px;
}


</style>


<div class="fixedwidth">
<div id="topbar">

<div id="popcorn">
<img src="/popcorn.png" />
</div>

<p id="newsheader">Welcome! Type a movie of your choice!</p>

</div>
<div id="button">

<form method="post" action='/movies'>
<label for="criteria" id="moviesearch">Movie Search:</label> <div id="botao"><input type="text" name="query" placeholder="Movie Title"></div></p> 
<br /><div id="botao2"><button class="mybutton">Submit</button>
	<a class="pure2" href="http://supermariobroscrossover.com/resources/super-mario-bros-crossover.84/">Mario Crossover =)</a>
</form></div>



</div>